<!--<h1>{{ title }}</h1> --}}
<p> Welcome to {{ title }}</p>


<p>{{ tasks }}</p> -->

<div class='tasklist'>
    <ul>
    {{#each tasks}}
        <li {{#unless this.active}} class='inactive' {{/unless}}>
            <a href='/tasks/t/{{this._id}}'>
                <h1>{{ this.title }} </h1>
            </a>
            <p class='value'><i class="material-icons taskredcoin">camera</i><span class="numcoins">{{numformat this.value }}</span></p>
            
            <p class='taskbody'>{{this.description}}</p>
            <p class='creator'>from {{this.creator}} at {{dateformat this.timestamp}}</p>
            
            
            
        </li>
    {{else}}
        <li>
            <h1>No Tasks Right Now. Please check back later, or <a href='/tasks/create'>Create a Task!</a></h1>
        </li>
    {{/each}}
    
    </ul>
    
</div>