    
    {{#each tasks}}
        <div class='task'>
            
            <h1>{{ this.title }} </h1>
            <p class='value'><i class="material-icons taskredcoin">camera</i><span class="numcoins">{{numformat this.value }}</span></p>
            
            <br>
            <p>{{this.description}}</p>
            <p class='creator'>from {{this.creator}} at {{dateformat this.timestamp}}</p>


            <div class='imagediv'>
            {{#each ../images}}
                <img src='{{this.filepath}}' width='30%'>
            {{/each}}
            </div>


            {{#unless ../iscreator}}
                {{#if this.active}}
                <button onclick='openForm()' id='openreplyform'>Reply</button>
                <div id='replyForm'>
                    <form id='reply' action='/tasks/t/{{this._id}}/reply' method='post' enctype='multipart/form-data'>
                        <textarea type='text' id='textreply' name='textreply' rows='10' cols='30' maxlength='500'></textarea>
                        <input type='file' name='image'>
                        <button type="submit" value='submit'>Submit</button>
                        <button type='button' onclick="closeForm()">Close</button>
                        
                    </form>
                </div>
                {{else}}
                <p>Task Complete</p>
                {{/if}}
            {{/unless}}

            {{#if ../iscreator}}
            {{!-- <button onclick='openReplies()' id='openreply'>Replies</button> --}}
            <button onclick='openReplies()' id='openreply'>Replies</button>
            <div id='replyDisplay'>
                {{#if ../replies}}
                <p id='replyparagraph'>{{../replies.textcontent}}</p>
                <img id='replyimage' src='{{../replies.filepath}}' width='30%' onContextMenu="return false;">
                <!--<form action='/tasks/t/{{this._id}}/nextreply' method='post'> --}}-->
                {{#if this.active}}
                    <button id='nextreply' type='submit'>Next Reply</button>
                <!--</form>-->
                    <button id='choosereply' type='submit'>Choose Reply!</button>
                {{/if}}
                <button onclick='closeReplies()'>Close</button>
            </div>
                {{/if}}
            {{/if}}

            <div class='replythankyou'>
                <h1>Thank you for your reply!</h1>
            </div>
                <!--<button id='nextreply'>Next Reply</button>-->

            
            <!--<script id="template" type="text/x-handlebars-template">  
                <p>{{../replies.[0].textcontent}}</p>
                <img src='{{../replies.0.filepath}}' width='30%'>
                <button id='nextreply'>Next Reply</button>
            </script>-->
            
        
        </div>
    {{else}}
    <div>
        <h1>No Tasks Right Now! Please check back later, or <a href='/create'>Create a Task!</a></h1>
    </div>
    
    {{/each}}

